@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --background-primary: #3aafa9;
    --secondary: #def2f1;
    --text-primary: #feffff;
    --text-secondary: #17252a;
}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    font-family: Nunito;
    background-color: var(--background-primary);
    animation: fadeIn 1.5s;
}

/* Header */

nav {
    background-color: var(--text-secondary);
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--text-secondary);
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

.navbar a {
    color: var(--background-primary);
    text-decoration: none;
}

.navbar a:hover {
    color: var(--text-primary);
}

#title{
    /* font-weight: bold; */
    font-size: 20px;
}

/* Adjust the aside and container position */
aside.sidebar,
div.container {
    margin-top: 10vh;
}

/* End Header */

/* Form (Task 1) */

aside.sidebar {
    min-width: 325px;
    height: 90vh;
    background-color: lightgray;
}

.container, .form-container {
    width: 100%;
    height: 90vh;
}

.form-container{
    /* margin: 20px; */
    padding-top: 20px;
    /* align-items: center; */
    justify-content: center;
    display: flex;
}

form {
    align-items: center;
    justify-content: space-evenly;
    padding: 30px;
    margin: 10px;
}

form#playArea {
    width: 1000px;
    align-items: center;
    justify-content: space-evenly;
}

.form-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 10px;
    width: 100%;
}

.form-item label {
    text-transform: uppercase;
    font-weight: 500;
    color: var(--secondary);
}

.form-item input, .form-item select {
    width: 15rem;
    height: 2rem;
    background-color: var(--secondary);
    border: none;
    border-radius: 2px;
    color: var(--text-secondary);
    font-size: 15px;
    font-weight: 500;
    padding: 0 10px;
    text-transform: uppercase;
}

form button {
    margin-top: 30px;
    background-color: var(--text-secondary);
    color: var(--background-primary);
    border: none;
    border-radius: 3px;
    width: 10rem;
    height: 2.5rem;
    font-size: 1.2rem;
    text-transform: uppercase;
}

#startEndButtons button{
    background-color: var(--text-secondary);
    color: var(--background-primary);
    border: none;
    border-radius: 3px;
    width: 6rem;
    height: 2.5rem;
    font-size: 1.2rem;
    text-transform: uppercase;
}

#buttons button{
    width: 220px;
}

form button:hover {
    background-color: var(--secondary);
    cursor: pointer;
}

#playArea .form-item {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#resultContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

#resultContainer input{
    width: 400px;
}

.error-message {
    color: red;
    margin-top: 8px;
}

button:disabled,
button:disabled:hover {
    color: var(--background-primary);
    background-color: var(--text-secondary);
    cursor: not-allowed;
}
